@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swiper Styles */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  background: #ef4444;
}

.swiper-pagination-bullet-active {
  background: #dc2626;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
